.today-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 1rem;
  padding-bottom: 3rem;
  padding: 3rem;
}

.today-section h2 {
  text-align: center;
  color: var(--qatarDarkRed);
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 850px) {
  .today-grid {
    padding: 0rem;
  }
}