.buscador {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
  border: none;
}

select,
input {
  background-color: white;
  padding: .25rem;
  border: solid 1.5px #b4b7be;
  outline: none;
  border-radius: 4.5px;
  box-shadow: 0px 0px 0px 3px transparent;
  transition: box-shadow .3s ease;
}

select:focus,
input:focus {
  box-shadow: 0px 0px 0px 3px var(--qatarRed);
}



@media screen and (max-width: 850px) {

  form {
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  select,
  input {
    width: 100%;
  }

}