.hero {
  background-color: hsl(343, 73%, 32%);
  background: no-repeat left top,
    linear-gradient(hsla(343, 73%, 32%, 0.603), hsla(343, 73%, 32%, 0.866)), url("https://t4.ftcdn.net/jpg/04/86/09/89/360_F_486098918_1RHxvs5xuJmFcbKFGSAdqqFFKXd6bntN.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0;
  position: relative;
}

.hero h1 {
  font-family: 'Fugaz One', cursive;
  font-size: 5rem;
  line-height: 1;
  z-index: 1;
}

.hero img {
  height: 80px;
}

.hero>div:first-of-type {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 2rem;
}

.hero>div:last-of-type {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(hsla(343, 100%, 50%, 0), hsla(343, 100%, 50%, 0.744));
  clip-path: polygon(72% 0, 100% 0%, 100% 100%, 39% 100%);
}

.hero button {
  color: var(--qatarGold);
  background-color: transparent;
  border: 2px solid var(--qatarGold);
  border-radius: 4px;
  padding: .5rem 2rem;
  margin-top: 2rem;
  z-index: 1;
}