 @import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins:wght@300;400;500;600;700;800&display=swap');

 :root {
   --qatarDarkRed: hsl(343, 73%, 32%);
   --qatarRed: hsl(341, 100%, 50%);
   --qatarTeal: hsl(173, 85%, 42%);
   --qatarGold: hsl(50, 56%, 73%);
   --fifaGray: hsl(220, 29%, 92%);
 }

 body {
   margin: 0;
   font-family: 'Poppins', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: var(--fifaGray);
 }

 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }

 h2 {
   margin-bottom: 1rem;
 }